[Unit]
Description=Setup after boot
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/after-boot/after-boot.sh
Nice=10

[Install]
WantedBy=multi-user.target